page-project {
    .upper-component {
        width: 100%;
        height: 50%;
        background-color: beige;

        & h3 {
            margin: 0;
        }
    }
    
    .lower-component {
        width: 100%;
        height: 50%;
        background-color: rosybrown;
    }
}
